/*TAGs*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

nav {
    height: 68px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 200px;
    margin-top: 30px;
}

nav ul li {
    float: left;
    list-style-type: none;
    margin-left: 20px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: white;
}

header {
    padding-top: 251px;
    padding-left: 367px;
    background-image: url('../img/bkg1.jpg');
    background-size: 100% auto;
    padding-bottom: 200px;
    background-repeat: no-repeat;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}




/*CLASSES*/

.logo {
    width: 100px;
    margin-left: 200px;
    margin-top: 20px;
}

.slogan {
    font-size: 68px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 50px;
}

.btn {
    /*padding:40px 20px 20px 40px;*/
    padding: 15px 5px;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-verde {
    background-color: #1db954;
    width: 320px;
}

.btn-branco {
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px white;
    margin-left: 10px;
    width: 299px;
}

.esquerda {
    width: 450px;
    margin-left: 140px;
    margin-top: 50px;
    float: left;
}

.direita {
    float: right;
    margin-right: 100px;
}

img#album {
    width: 520px;
    margin-right: 40px;
    margin-top: 46px;
}

.sec2 p {
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: bold;
}

.sec2 {
    text-decoration-color: grey;
    /* position: absolute; */

}

.sec3 {
    background-image: url('../img/bkg2.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
    top: 620px;
    height: 580px;
    /* border: 2px solid black; */

  }

.div_Sec{
        /* border: 2px solid black; */

      position: relative;
      float: left;
      top:-450px;
      left:700px;
      padding:20px;
      width: 450px;
      color: #ffffff;
      text-align:justify;
}
  .sec4{
  height: 600px;
  width: 100%;
}
#minhadiv{
  position: relative;
  top: 750px;
  right: 550px;
  width:500px;
}

.list1 li{

  color:black;
  font-size:15px;
  text-transform:uppercase;
  font-weight: bold;
  float:left;
  padding-left: 10px;
  padding-right:10px;
  list-style: disc;
  margin-top:30px;
  /* margin-right:3px; */
}

.list2 a{
  position: relative;
  top:5px;
  margin-top: 30px;
  text-decoration:none;
  text-align: center;
  list-style: disc;
  text-transform: uppercase;
  font-weight: bold;
  color: #008000;
  width:auto;
  float:left;
  padding:3px;
}

#nodisc{
  list-style: none;
}

.imagempc{
  width: 60%;
  position:relative;
  top: 275px;
  left: 560px;
}

.sec5{
  background-image: url('../img/bkg5.jpg');
  background-image: no-repeat;
  background-size:100% auto;
  position: relative;
  top: 520px;
  height: 680px;
}

.frasedeefeito h3{
  /* border: 2px solid black; */
  height: 35px;
  width: 800px;
  margin-left: 310px;
  font-weight: 80px;
  font-size: 40px;
  text-transform: bold;
  color: white;
  text-align: center;
  position: absolute;
  margin-top:10px;

}

.anuncio{
  margin-top:-30px;
  margin-bottom:30px;
}
.anuncio div{
  /* border:2px solid rgba(0,0,0,.7); */
  border-radius:10px;
  box-shadow: 10px;
  background-color: white;
  width: 300px;
  height: 500px;
  float: left;
  position: relative;
  top:-280px;
  left:350px;
  margin-left: 10px;

  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}
.anuncio h2{
  font-size: 30px;
  text-transform: uppercase;
}
.anuncio h3{
  font-size: 25px;
}

.anuncio ul{
  border-top: 1px solid rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding-top: 15px;
  padding-bottom: 15px;
  list-style-type: disc;
}
.anuncio li{
  list-style: disc;
  margin-left: 25px;
  margin-bottom:15px;
  padding-left: 10px;
}
.ladoE ul{
  margin-top: 25px;
}

.btn1{
  padding: 15px 5px;
  /* border:2px solid black; */
  border-radius: 50px;
  color: white;
  background-color: #1db954;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  position: absolute;
  margin-left:5px;
  margin-top:40px;
  width:280px;
  /* z-index: 1; */
  /* top: 500px; */
}

.termos h6{
  width: 700px;
  height: 50px;
  color:white;
  text-align: center;
  position: absolute;
  margin-top: 590px;
  margin-left:350px;
}
.termos a{
  text-decoration: underline;
}

.rodape .logo{
  width: 100px;
  margin-left: -600px;
  margin-top:45px;
}
footer{
  position: relative;
  top:500px;
  background-color: #000000;
  color:#ffffff;
  height: 500px;
  width: 100%;
}

footer div{
  height: 500px;
  width: auto;
  padding:0px;
}
footer div ul{
  font-size: 13px;
}

.emp{
  position:relative;
    /* border: 2px solid white; */
  width: 100px;
  height: 200px;
  top: -120px;
  right: -220px;
}

.emp li{
  padding-bottom:30px;
}

.com{
  position:relative;
  /* border: 2px solid white; */
  width: 200px;
  height: 200px;
  top: -223px;
  right: -420px;
}

.com li{
  padding-bottom:30px;
}

.lik{
  position:relative;
  /* border: 2px solid white; */
  width: 200px;
  height: 200px;
  top: -424px;
  right: -720px;
}


.lik li{
  padding-bottom:30px;
}

.ti{
  color: grey;
  text-transform: uppercase;
  text-decoration: bold;
}

.info{
  position:absolute;
  /* border: 2px solid white; */
  width: 300px;
  height: 20px;
  margin-top: -300px;
  right: 990px;
  color: grey;
}

.info li{
  font-size:11px;
  padding-left:15px;
  float: left;
}

.copy{
  position: absolute;
  color: grey;
  /* border: 2px solid white; */
  left: 1120px;
  top:440px;
}

.redes{
  position: absolute;
  width: 250px;
  margin-left: 1050px;
  top:50px;
}

 .guia {
    width: 100%;
    z-index: -1;
    position: relative;
    top:275px;
    opacity: 0.5;
}
